#elementEl::after {
    content: '|';
    margin-left: 5px;
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  body {
    margin: 20px;
    background-image: url("./final6666.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-size: cover;
  }
  
  .text { 
    padding: 70px 0;
    text-align:center;
    margin-top: 300px;
    color: white;
    font-size: 34px
    
  }

  
 